<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qemmet</title>
</head>

<body style="overflow-y:scroll">
  <h1>Qemmet</h1>
  <p>Qemmet is a way to generate a Qiskit 0.3 or OpenQASM 3.0 code with a shorthand
    notation.</p>
  <details>
    <summary>How does this work?</summary>
    <p>
      The syntax consists mainly of 3 parts:
    </p>
    <p>
      <code
        style="display:block">quantum_register_num?&lt;int&gt;<mark>;</mark>classical_register_num?&lt;int&gt;<mark>;</mark>gate_string&lt;string&gt;</code>
    </p>
    <ul>
      <li>
        The <code>quantum_register_num</code> is used to specify the number of qubits in
        the quantum register. It is optional and defaults to 1.
      </li>
      <li>
        The <code>classical_register_num</code> is used to specify the number of bits in
        the classical register. It is optional and defaults to 0.
      </li>
      <li>The <code>gate_string</code> is a string in the form of
        <code>(c*?[zyxhmb][\d\s]*)+</code>.
      </li>
    </ul>
    <b>Examples and outputs:</b>
    <ul>
      <li><code>x</code>: Apply the X gate to all quantum registers.</li>
      <li><code>x12</code>: Apply the X gate to quantum register 1 and 2.</li>
      <li><code>hx12</code>: Apply the H gate to all quantum registers, then apply the X
        gate to quantum register 1 and 2.</li>
      <li><code>cx</code>: Apply the CX gate to quantum register 1 and 2, where 1 is the
        control and 2 is the target. When there aren't any qubits specify for a controlled
        gate, it will default to 1 2 (3 4 ... if it has a lot of controls).</li>
      <li><code>cx34</code>: Apply the CX gate to quantum register 3 and 4, where 3 is the
        control and 4 is the target.</li>
      <li><code>ccx123</code>: Apply the CCX gate to quantum register 1, 2, and 3, where 1
        and 2 are the controls and 3 is the target.</li>
      <li><code>cccccx123456</code>: Apply the CCCCCX gate to quantum register 1, 2, 3, 4,
        5, and 6 where 1, 2, 3, 4, 5 are the controls and 6 is the target.</li>
      <li><code>cccx12 1 11 9</code>: Apply the CCCX gate to quantum register 12, 1, 11
        and
        9 where 12, 1, and 11 are the controls and 9 is the target. Please keep in mind
        that if you separate the numbers, you have to separate <strong>all of
          them</strong>. If not,
        it will be treated as a single digit packed together (and will get separated later
        digit by digit).</li>
    </ul>
    <b>Example circuits:</b>
    <ul>
      <li><code>2;;h1cx</code>: Bell's state.</li>
      <li><code>;1;hm</code>: 1-bit randomizer.</li>
      <li>
        <code>4;3;x4hccx134h123x123ccz123x123h123ccx134h123x123ccz123x123h123m123</code>:
        Grover's search.
      </li>
      <li><code>3;;h2cx23cxh1m12cx23cz13</code>: Quantum teleportation.</li>
    </ul>
    <b>Notes:</b>
    <ul>
      <li>For ease of human counting, <strong>the register starts from 1</strong>, not 0.
      </li>
      <li>Currently this is only a parser, <strong>not a syntax checker</strong>, so
        please check the syntax
        again by yourself.</li>
      <li>This is a prototype right now. It only supports x, y, z, Hadamard (h),
        Measurement (m), and Barrier (b).</li>
      <li>
        The code itself is super spaghetti, but if you can stand them and
        want to add something just open a pull request!
      </li>
    </ul>
  </details>
  <hr>
  <section id="app">
    <label for="raw_string">Input Qemmet string:</label>
    <input id="raw_string" type="text" v-model="raw_string"
      style="width:100%;box-sizing:border-box">
    <pre><code style="overflow-y:scroll;height:40vh">{{transpiled_code}}</code></pre>
    <div style="display:flex;align-items:flex-end">
      <div style="flex:1 1 0">
        <label for="target_lang">Target Language:</label>
        <select id="target_lang" v-model="target_lang"
          style="width:100%;box-sizing:border-box">
          <option value="qiskit03">Qiskit 0.3</option>
          <option value="openqasm3">OpenQASM 3.0</option>
        </select>
      </div>
      <div>
        <button @click="copyTranspiledCode" style="margin-right:0;margin-left:1rem">Copy
          to
          clipboard</button>
      </div>
    </div>
  </section>
  <footer>
    <span style="display:block">
      Copyright © <span onload="this.innerHTML = new Date().getFullYear()">2021</span> <a
        href="https://github.com/rootEnginear">rootEnginear</a> All right reserved.
    </span>
    <small>
      MIT License
    </small>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="qemmet.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        raw_string: '2;;h1cx12',
        target_lang: 'qiskit03',
      },
      computed: {
        transpiled_code: function () {
          try {
            switch (this.target_lang) {
              case 'qiskit03':
                return getQiskitString(this.raw_string || ';;');
              default:
                return getOpenQASMString(this.raw_string || ';;');
            }
          } catch (e) {
            return `Hmm there are some errors: ${e.message}`;
          }
        }
      },
      methods: {
        copyTranspiledCode: function () {
          navigator.clipboard.writeText(this.transpiled_code).then(function () {
            console.log('Async: Copying to clipboard was successful!');
          }, function (err) {
            console.error('Async: Could not copy text: ', err.message);
          });
        }
      }
    })
  </script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
</body>

</html>