@font-face {
	font-family: 'LMRS';
	font-style: normal;
	font-weight: 400;
	src: local('lmromanslant8-regular'),
		url('https://cdn.jsdelivr.net/gh/rootEnginear/Qemmet/fonts/lmromanslant8-regular.otf')
			format('opentype');
}

@font-face {
	font-family: 'LMM';
	font-style: normal;
	font-weight: 400;
	src: local('latinmodern-math'),
		url('https://cdn.jsdelivr.net/gh/rootEnginear/Qemmet/fonts/latinmodern-math.otf')
			format('opentype');
}
